<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateCreated</key>
	<date>2023-04-29T19:44:34Z</date>
	<key>externalLocations</key>
	<array/>
	<key>rootId</key>
	<dict>
		<key>hash</key>
		<string>0~GeI8UwhrIfo3DsZMF0mkU30XAa_5lR9OI-LFKCFkHAS1xHV06iH3BBOs0qE-hS2mZwb-kg3hf4oS1D3SUjSDZg==</string>
	</dict>
	<key>storage</key>
	<dict>
		<key>backend</key>
		<string>fileBacked2</string>
		<key>compression</key>
		<string>standard</string>
	</dict>
	<key>version</key>
	<dict>
		<key>major</key>
		<integer>3</integer>
		<key>minor</key>
		<integer>39</integer>
	</dict>
</dict>
</plist>
